<div id="menu">
<tr>
    <td class="left">
        <a href="index.php?link=films">Films</a><br />
        <a href="index.php?link=genre">Genre</a><br />
        <a href="index.php?link=schedule">Schedule</a><br />
        <a href="index.php?link=task">Task</a><br />
    </td>
</tr>
<img src="img/PHP-Mysql.png" alt="PHP-MySQL" style="width:60%;height:60%;">
</div>
