#header {
    background-color: #94618e;
    display:block;
    min-height: 50px;
    text-align:center;
    width: auto;
    margin-top: -22px;
    padding-bottom: 10px;
    color: #000;
    
}

#menu {
    float: left;
    width:15%;
    display:block;
    background-color: #f4decb;
    min-height: 760px;
    overflow:hidden;
}

#footer {
    background-color: #49274a;
    clear:both;
    min-height:50px;
    text-align:center;
    width: auto;
    font-size: 25px;
    padding-bottom: 10px;
    height:147px;
    color: #fff;
}

a {
    color: black;
    text-decoration: none;
    font-size: 30px;
}

a:hover {
    background-color:white;
}

#zadatak {
    width:50%;
    float:left;
    font-size: 30px;
    padding-left: 30px;
    border-style: solid;
    border-color: pink;
    text-align:center;
}

label {
    font-size: 25px;
    color: purple;
    text-decoration: underline  dotted rgb(255, 0, 212);
}

body {
    background-color:#f8eee7;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 3px solid #ddd;
    border-top:  3px solid #ddd;
}

tr:nth-child(even){
    background-color: #f2f2f2;
}

.tabela tr:hover {
    background-color: #ddd;
}

.tabela th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #94618e;;
    color: white;
}

#gj {
    font-size: 35px;
}

.genre {
    font-size:25px;
    color: rgb(168, 17, 135);
}